<% include base.ejs %>

<body>
    <div class="login-page valign-wrapper color_primary">
        <div class="valign">
            <div class="logo">
                <img src="/images/logo_possible.png"/>
            </div>
            <div class="card">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <a href="/index" class="waves-effect waves-light  btn-login btn-large">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
